# Ignore system files
*.DS_Store
**.DS_Store
**/*.DS_Store

# Ignore VSCode config
.vscode/

# Ignore docker related stuff
mysql/data/*
redis/data/*

# Ignore node stuff
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# Ignore Log Files
npm-debug.log
yarn-error.log
